body{
    background-color: rgb(204, 175, 102);
    margin: 20px 100px;
}

.nav-item a{
    color: rgb(11, 11, 92);
    font-size: 15px;
}
.navbar-brand h3{
    color: rgb(11, 11, 92);
    font-size: 30px;
    font-weight: 700;
}
.form-control{
    width: 40%;
}
.btn-outline{
    color: white;
    background-color: rgb(11, 11, 92);
}
.btn-outline:hover{
    color: white;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.meal{
    padding: 20px;  
}
.card{
    border-radius: 20px;
    
}
.meal img{
    padding: 10px;
    border-radius: 20px;   
}

#details{
    margin-top: 20px;   
}
#details img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
}
#hiddenIngredient{
    display: none;
    
}
#hiddenIngredient b{
    font-weight:500;
       
}
#hiddenIngredient {
    font-weight:lighter;       
}
#ingredient-list{
    margin-top: 10px;
}
#ingredient{
    display: none;
    width: 25%;
    justify-content: center;
}
.fa-check{
    background-color:  rgb(11, 11, 92);
    color: white;
}
footer{   
    text-align: center;
    display: none;
    color: rgb(11, 11, 92);
} 
footer p{
    font-size: 12px;
}