body{
    background-color: rgb(204, 175, 102);
    margin: 20px 100px;
}
.nav-item a{
    color: rgb(11, 11, 92);
    font-size: 15px;
}
.navbar-brand h3{
    color: rgb(11, 11, 92);
    font-size: 30px;
    font-weight: 700;
}
.form-control{
    width: 30%;
}
.btn-outline{
    color: white;
    background-color: rgb(11, 11, 92);
}
.btn-outline:hover{
    color: white;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 20px;
}
.meal{
    margin: 20px;
    padding: 20px;  
}
.card{
    border-radius: 20px;
    
}
.meal img{
    padding: 10px;
    border-radius: 20px;   
}
#details .card{
    width: 50%;
    
    margin: 20px;
    
    
}
#details{
    margin-top: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
#details img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#ing{
    display: none;
    
}